html, body {
    font-family: 'Helvetica Neue', 'TeX-Gyre-Heros', Helvetica, Arial, sans-serif;
    height: 100%;
    cursor: auto;
}

input{
    font-family:  "Helvetica Neue", TeX-Gyre-Heros, Helvetica, Arial, sans-serif;
    display: block;
}

form, div{
    width: 20px;
    height: 20px;
    border: 2px solid blue;
}


div{
    position: fixed;
    width: 20px;
    height: auto;
    height: auto;
}